@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(125, 177, 245);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-attachment: fixed;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

/* rgb(150, 130, 240) */
/* rgb(125, 177, 245) */
